#about.content.active{
    width: 100%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(1fr,1fr);
    gap: 3rem;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 450px;
    margin: 0 auto;
}

.sidebar h3{
    font-size: 2rem;
}

.sidebar p{
    font-size: 1.2rem;
    text-align: justify;
}

.sidebar .tabs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar .tabs span{
    border: 2px solid transparent;
    text-align: center;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 5px;
    background: var(--secondary);
    transition: all linear 0.3s;
}

.sidebar .tabs span:hover{
    border-color: var(--green);
    cursor: pointer;
    color: var(--green);
}

.tab.active{
    border: 2px solid var(--green)!important;
    color: var(--green);
}

.tab-content{
    display: none;
}

.tab-content.active{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

aside h2{
    font-size: 2rem;
}

aside h2 span{
    color: var(--green);
}

.experience-list, .education-list, .skills-list, .my-list{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
    overflow-y: auto;
    max-height: 300px;
    padding: 1rem;
}

.experience-list::-webkit-scrollbar,
.skills-list::-webkit-scrollbar,
.my-list::-webkit-scrollbar,
.education-list::-webkit-scrollbar{
    width: 8px;
}

.experience-list::-webkit-scrollbar-thumb,
.skills-list::-webkit-scrollbar-thumb,
.my-list::-webkit-scrollbar-thumb,
.education-list::-webkit-scrollbar-thumb{
    background: var(--green);
    border-radius: 10px;
}

.experience-list::-webkit-scrollbar-thumb:hover,
.skills-list::-webkit-scrollbar-thumb:hover,
.my-list::-webkit-scrollbar-thumb:hover,
.education-list::-webkit-scrollbar-thumb:hover {
    background: var(--green);
}

.experience-list::-webkit-scrollbar-track,
.skills-list::-webkit-scrollbar-track,
.my-list::-webkit-scrollbar-track,
.education-list::-webkit-scrollbar-track {
    background: var(--secondary);
    border-radius: 10px;
} 

.experience-box, .info-box{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border: 2px solid transparent;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background: var(--secondary);
    transition: all linear 0.3s;
}

.experience-box:hover,
.info-box:hover{
    border-color: var(--green);
    box-shadow: 5px 5px 5px var(--green), -5px 5px 5px var(--green), 5px -5px 5px var(--green), -5px -5px 5px var(--green);
}

.info-box{
    display: grid;
    grid-template-columns: subgrid;
    background: var(--primary);

}

.info-box h2{
    color: var(--green);
}

.experience-box h5{
    font-size: 1.1rem;
}

.experience-box h4{
    font-size: 1.4rem;
}

.experience-box h2{
    font-size: 1.3rem;
    color: var(--green);
}

.experience-box p{
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.skill-box {
    background: var(--secondary);
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    color: white;
    transition: all linear 0.3s;
}

.skill-box:hover {
     border-color: var(--green);
    box-shadow: 5px 5px 5px var(--green), -5px 5px 5px var(--green), 5px -5px 5px var(--green), -5px -5px 5px var(--green);
}

.skill-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.skill-header i {
    font-size: 24px;
    color: var(--green);
}

.progress-bar {
    background: #333;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
}

.hidden {
    opacity: 0;
    transform: translateY(40px);
}

.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.8s ease;
}

.progress-fill {
    width: 0;
    background: linear-gradient(90deg, #00f2ff, #0066ff);
    padding: 5px;
    text-align: right;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    transition: width 1.5s ease;
}

@keyframes fillAnimation {
    from {
        width: 0;
    }
}

@media screen and (width >= 768px) {
    #about.content.active{
        grid-template-columns: repeat(7,1fr);
        gap: 3rem;
    }

    .sidebar{
        grid-column: span 3;
    }

    .sidebar .tabs{
        gap: 1.5rem;
    }

    .tab-content.active{
        max-width: 100%;
        margin: 0;
        grid-column: span 4;
    }

    aside h2{
        font-size: 3rem;
    }

    aside p{
        font-size: 1.3rem;
    }

    .experience-box h3{
        font-size: 1.5rem;
    }

    .company-name p{
        font-size: 1.2rem;
    }

    .my-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem 3rem;
    }

    .info-box h2{
        font-size: 1.6rem;
    }
    
}

@media screen and (width >= 1024px) {
    #about.content.active{
        gap: 5rem;
    }

    .experience-box h3 {
        font-size: 1.8rem;
    }
}